.yparent {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 15px;
}

.ychild {
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: white;
}

.ychild_1 {
    grid-column: 1 / 13;
}

.ychild_2 {
    grid-column: 1 / 7;
}

.ychild_3 {
    grid-column: 7 / 13;
}

.ychild_4 {
    grid-column: 1 / 5;
}

.ychild_5 {
    grid-column: 5 / 9;
}

.ychild_6 {
    grid-column: 9 / 13;
}

.ychild_7 {
    grid-column: 1 / 4;
}

.ychild_8 {
    grid-column: 4 / 7;
}

.ychild_9 {
    grid-column: 7 / 10;
}

.ychild_10 {
    grid-column: 10 / 13;
}

.ychild_11 {
    grid-column: 1 / 3;
}

.ychild_12 {
    grid-column: 3 / 5;
}

.ychild_13 {
    grid-column: 5 / 7;
}

.ychild_14 {
    grid-column: 7 / 9;
}

.ychild_15 {
    grid-column: 9 / 11;
}

.ychild_16 {
    grid-column: 11 / 13;
}